@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --bgcHeader:#30344c;
    --bgcCard:#ededed;
    --colorIcons:#c45924;
    --white:#fff;
    --colorTextContent:#acacac;
    --font: 'Roboto', sans-serif;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: var(--font);
}

#container{
    margin:40rem;
}

.header{
    width: 100%;
    height:20rem;
    background-color: var(--bgcHeader);
    padding-top: 1rem;
    text-align: center;
    position: relative;
    color:var(--bgcCard);
    
    
}
article{
    
    position: absolute;
    top:10rem;
    left:23rem;
    right:23rem;
    margin: auto;

}
select {
    
    margin: auto;
    width:25rem;
    font-size:1.5rem;
    padding:0.5rem 2rem;
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    top:5rem;
    border: 2px solid red;
    left: 30rem;
    right: 30rem;
    border:none;
    border-radius: 2rem;
    
}
.card-user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40rem;
    background-color: var(--bgcCard);
    border-radius: 1rem;
    -webkit-box-shadow: 3px -1px 20px -9px rgba(196,89,36,1);
-moz-box-shadow: 3px -1px 20px -9px rgba(196,89,36,1);
box-shadow: 3px -1px 20px -9px rgba(196,89,36,1);
}
.card-user  img{
    margin: 2rem 0;
    border-radius: 50%;
    
    
}

.card-user .card-information h5{
    font-size:1rem;
    color:var(--colorTextContent);
    position: absolute;
    top: 11rem;
    left:45%;
    right:30%;

}
.card-user .card-information h3{
    font-size: 1.5rem;
    color:var(--bgcHeader);
    position: absolute;
    top: 12rem;
    left:35%;
    right:20%;
}
.card-user  .card-information{
    max-width:100%;
    margin: 4rem 0;
    font-size:2rem;
    color: var(--colorIcons);
    cursor: pointer;

}

span{
    padding-left: 2rem;
}


.card-user .card-information {
    display: flex;
    
}

.card-user .card-information .icon .hover-icon{
    display: flex;
    visibility: hidden;
}
.card-user .card-information .icon:hover{
    color:var(--bgcHeader);
}
.card-user .card-information .icon:hover .hover-icon{
    visibility: visible;

    
}